<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="6">
        <ion-card *ngIf="order">
          <ion-card-header>
            <ion-card-title>
              <img src="https://hireoutput.com/images/output-colour-light-tagline.svg" alt="Logo">
              <h1>Receipt confirmation: #<strong>{{order.key_doc }}</strong></h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <table>
              <tr>
                <th size>Card</th>
                <th>Quantity</th>
                <th>Subtotal</th>
              </tr>
              <tr *ngFor="let card of order.cards">
                <td>{{card.name}}</td>
                <td>{{card.quantity}}</td>
                <td>${{card.subtotal}}</td>
              </tr>
            </table>
            <div class="ion-text-start ion-margin-top">
              <h2>
                $<strong> {{order.total}} </strong>
              </h2>
            </div>
          </ion-card-content>
        </ion-card>
        <div class="ion-text-justify">
          <ion-button slot="start" routerLink="/home">Back</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>